@import "tailwindcss";

@theme {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
